.btn {
    border: none;
    color: white;
    padding: $size-main*1.5 $size-main*5;
    letter-spacing: 1.7;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: $size-main;
    width:50px;
    transition: all 0.5s ease;
    border-radius: $size-main/1.5;
    cursor: pointer;
    opacity: 0.95;
    

&-html{
background-color:$color-green;
box-shadow:2px 2px 7px darken($color: $color-green, $amount: 1.5);
&:hover{
    box-shadow:0px 0px 0px darken($color: $color-green, $amount: 0.4);
    background-color:darken($color-green,$amount:10);
}
}
&-css{
    background-color:$color-orange;
    box-shadow:2px 2px 7px darken($color: $color-orange, $amount: 0.5);
    &:hover{
        box-shadow:0px 0px 0px darken($color: $color-orange, $amount: 0.4);
        background-color:darken($color-orange,$amount:10);
    }
}
&-js{
    background-color:$color-blue;
    box-shadow:2px 2px 7px darken($color: $color-blue, $amount: 0.5);
    &:hover{
        box-shadow:0px 0px 0px darken($color: $color-blue, $amount: 0.4);
        background-color:darken($color-blue,$amount:10);
}
}

}