
.container {
    max-width: $size-width*10+px;
    margin: auto;
    padding: $zero-size $size-main*2;
}

form {
    display:grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: $size-main*1.5;
 
        padding-left: $size-main*2;
        padding-right: $size-main*2;
}



.form-section {
    padding: $size-main*4 $zero-size;
    background-color: darken($color-grey, 18);
}

input{
    border:none;
    width:150px;
    height: 80px;
    color:$color-dark;
    transition: background-color 0.4s ease;
    outline: none;
    font-style: italic;
    font-weight: bold;
    background-color: lighten($color-grey, 5);

    
    
    
    &:focus {
        background-color: lighten($color-grey, 42);
    }

    &::-webkit-input-placeholder {
        color: darken($color-grey, 11);
        opacity:0.5
    }
}

.mybtn {
    border:none;
    padding: $size-main*1.45;
    margin-top: $zero-size;
    font-size: $size-main*1.5;
    width:150px;
    height: 80px;
    background-color:$color-blue;

}

