<div>
    <h1 style="text-align:center">
        Homework3
    </h1><br/>
    
    <div class="container">
            
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">
                        <!-- <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" *ngFor="let category of categories">{{category}}</a>
                          
                        </div>
                        </div> -->
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                              <label class="input-group-text" for="inputGroupSelect01">Category</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" #sel (change)="selectedCategory(sel.value)">
                              <option selected>Choose...</option>
                              <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                              
                            </select>
                          </div>
                            
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let product of products, let rowIndex = index" [class.red]="product.price > 500" >
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.category}}</td>
                    <td>
                        <button (click)="deleteItem(rowIndex, product.id)" class="btn btn-danger"> X </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> 
<app-add-product (AddProduct)="newProducts($event)"></app-add-product>