<div class="container">
  <div class="row">
    <div class="col">
     
      <h1>Welcome to Angular works</h1>
      <nav class = "navbar navbar-light bg-light">
        <a class="navbar-brand" routerLink="/testing" routerLinkActive="active">testing</a>
        <a class="navbar-brand" routerLink="/hw1" routerLinkActive="active">homework 1</a>
        <a class="navbar-brand" routerLink="/hw2" routerLinkActive="active">homework 2,3</a>
      </nav>
      <br><br>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>



