<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      Add product
    </mat-panel-title>
    <mat-panel-description>
      Type id, name, price and category
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-form-field>
    <input matInput placeholder="ID" [(ngModel)]="item.id">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="item.name">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Price" [(ngModel)]="item.price">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Category" [(ngModel)]="item.category">
  </mat-form-field>

  <button mat-button color="primary" (click)="saveItem()">Save</button>

</mat-expansion-panel>
